* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
img { max-width: 100%; display: block; }

html.scroll-lock,
body.scroll-lock {
  overflow: hidden;
}

html,
body,
#root {
  min-height: 100%;
  background: #1b1001;
}
